{% extends 'base.html' %}
{% block title %}Quiz - Exam Home{% endblock title %}

{% block content %}
<div class="container">
    {% for message in messages %}
	<div class="alert alert-{{ message.tags }} alert-dismissible mb-2 fade show" role="alert">
		<strong>{{message}}</strong> 
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endfor %}
<h3>Select a exam</h3>
<div class="list-group">
    {% for exam in exams %}
    <div class="list-group-item list-group-item-action">
      
        <b>{{exam}}</b>
        <form action="/sections/{{exam}}">
            <input type="hidden" name="examname" value="{{exam}}">
            <button type="submit" class="btn btn-dark mt-1">Take this exam!</button>
        </form>
    </div>
    
    {% endfor %}
  </div>
  <div class="alert alert-primary my-4" role="alert">
    <a href="{% url 'quizlogs' %}">Check you quiz logs</a>
  </div>



</div>



{% endblock content %}
